<table class="main-table" style="height: 80%">
  <tr class="tap-numbers">
    <td class="tap-number">Tap 1</td>
    <td class="tap-number">Tap 2</td>
    <td class="tap-number">Tap 3</td>
    <td class="tap-number">Tap 4</td>
  </tr>
  <tr class="beer-info border">
    <td class="border beer-name">Welcome Back Pale Ale</td>
    <td class="border beer-name">Hairy Bitch in Heat</td>
    <td class="border beer-name">Sierra Nevada Pale Ale</td>
    <td class="border beer-name">Head Hunter</td>
  </tr>
  <tr class="beer-info border">
    <td class="border">
      <div class="brewer">Chris</div>
      <div class="beer-style">American Pale Ale</div>
    </td>
    <td class="border">
      <div class="brewer">Carrie, Chris, Felix</div>
      <div class="beer-style">American IPA</div>
    </td>
    <td class="border">
      <div class="brewer">Sierra Nevada</div>
      <div class="beer-style">American Pale Ale</div>
    </td>
    <td class="border">
      <div class="brewer">Fat Head's</div>
      <div class="beer-style">American IPA</div>
    </td>
  </tr>
  <tr>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">IBU: 34</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:34%"/>
	</div>
      </td>
      <td class="srm">
	<div class="stats-text">SRM: 8</div>
	<div class="srm-container">
	  <div class="srm-indicator" style="background-color: rgb(191,146,59)"></div>
	  <div class="srm-stroke"/>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">IBU: 66</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:66%"/>
	</div>
      </td>
      <td class="srm">
	<div class="stats-text">SRM: 7</div>
	<div class="srm-container">
	  <div class="srm-indicator" style="background-color: rgb(201,167,50)"></div>
	  <div class="srm-stroke"/>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">IBU: 37</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:37%"/>
	</div>
      </td>
      <td class="srm">
	<div class="stats-text">SRM: 10</div>
	<div class="srm-container">
	  <div class="srm-indicator" style="background-color: rgb(191,129,58)"></div>
	  <div class="srm-stroke"/>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">IBU: 87</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:87%"/>
	</div>
      </td>
      <td class="srm">
	<div class="stats-text">SRM: 7.5</div>
	<div class="srm-container">
	  <div class="srm-indicator" style="background-color: rgb(200,158,60)"></div>
	  <div class="srm-stroke"/>
	</div>
      </td>
    </tr></table></td>
  </tr>
  <tr>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">ABV: 5.6%</div>
        <td><div class="abv-container">
	  <table>
	    <tr>
	      <td><div class="abv-container"><div class="abv-indicator"><div class="abv-full" style="height:100%"/></div></div></td>
	      <td><div class="abv-container"><div class="abv-indicator"><div class="abv-full" style="height:15.28%"/></div></div></td>
	    </tr>
          </table>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">ABV: 6.6%</div>
	<div class="abv-container">
	  <div class="abv-indicator"><div class="abv-full" style="height:12%"/></div>
	  <div class="abv-indicator"><div class="abv-full" style="height:2%"/></div>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">ABV: 5.6%</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:56%"/>
	</div>
      </td>
    </tr></table></td>
    <td class="border"><table class="filled"><tr>
      <td class="ibu">
	<div class="stats-text">ABV: 7.5%</div>
        <div class="ibu-container">
	  <div class="ibu-indicator"/>
	  <div class="ibu-full" style="height:75%"/>
	</div>
      </td>
    </tr></table></td>
  </tr>
</table>
<table style="width: 100% height: 10%">
  <tr>
    <td style="padding: 5px 30px 0px 50px">Keezer: Temperature 42, Tower 57</td>
    <td style="padding: 5px 30px 0px 50px">Fermenter: Chamber 65, Wort 65</td>
  </tr>
</table>
